body {
    font-family: sans-serif;
    margin: 1rem;
    max-width: 80rem;
}

.mainContent {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 20px;
}

.moduleDescription {
    margin: 2rem;
}

.predicates{
    margin: 1rem;
}

.predicate > h4 {
    background-color: blue;
    color: white;
}
.predicate > div {
    margin: 0.5rem;
}

.navlist {
    list-style-type: none;
}

footer {
    text-align: center;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
