body {
    font-family: sans-serif;
    margin: 1rem;
    max-width: 80rem;
    margin-top: auto;
}

.mainContent {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 20px;
}

.moduleDescription {
    margin: 2rem;
}

.predicates{
    margin: 1rem;
}

.predicate > h4 {
    background-color: #00007f;
    color: white;
    padding-left: 10px;
}
.predicate > div {
    margin: 0.5rem;
}

.navlist {
    list-style-type: none;
}

.mainContent > nav > h4 {
    padding-left: 1.5rem;
}

footer {
    text-align: center;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #00007f 10px;
}

.topbarLink {
    text-decoration: none;
    color: black;
}

table {
    border: 2px solid #00007F;
    border-radius: 0.25rem;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #DFDFFF;
}

tbody tr:nth-child(even) {
  background-color: #EFEFFF;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}
