{% extends "base.html" %}
{% block title %}Module {{ module_name }} - {{ project_name }} documentation{% endblock %}
{% block main %}
  <h1>Module {{ module_name }}</h1>
  <pre><code>:- use_module(library({{ library }})).</code></pre>
  <div class="moduleDescription">{{ module_description }}</div>
  <div class="source">
    <a href="{{ websource }}">Browse source code</a>
  </div>

    <div class="predicates">
      {% for predicate in predicates %}
  <div class="predicate" id="{{ predicate.predicate }}">
	<h4>{{ predicate.name }}</h4>
	<div>{{ predicate.description }}</div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
